@page "/"
@inject HttpClient Http

<h1>Watch Store</h1>

@if (watches == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <h1>DZIAŁADZIAŁADZIAŁA</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Brand</th>
                <th>Model</th>
                <th>Price</th>
                <th>Description</th>
                <th>Image</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var watch in watches)
            {
                <tr>
                    <td>@watch.Brand</td>
                    <td>@watch.Model</td>
                    <td>@watch.Price</td>
                    <td>@watch.Description</td>
                    <td><img src="@watch.ImageUrl" alt="@watch.Model" style="width: 100px; height: 100px;"></td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Watch[] watches;

    protected override async Task OnInitializedAsync()
    {
        watches = await Http.GetFromJsonAsync<Watch[]>("api/watches");
    }

    public class Watch
    {
        public string Brand { get; set; }
        public string Model { get; set; }
        public decimal Price { get; set; }
        public string Description { get; set; }
        public string ImageUrl { get; set; }
    }
}